---
title: Home
layout: default
---
<div class="container-fluid">
  <div class="row">
  {% for obra in site.obras %}
    <div class="card  col-lg-4 col-xl-3 border-0">
      {% if obra.thumbnail %}
        <div class="box">
          <img src="{{ obra.thumbnail }}" /> 
        </div>
      {% else %}
        <img src="" />
      {% endif %}
      <span>{{ obra.artista }}</span>
      <p>
        <a style="text-decoration: none;" href="{{ BASE_PATH }}{{ obra.url | remove: '/index.html' }}" class="shuf">
          {{ obra.title }}
        </a>
      </p>
    </div>
  {% endfor %}
  </div>

